openapi: 3.0.3
info:
  title: Encompass Developer Connect Authentication Loan Management API
  description: 'Encompass Developer Connect is the ICE Mortgage Technology (formerly Ellie Mae) REST API platform for the Encompass loan origination system (LOS). It lets partners and lenders configure, customize, and administer loan information and resources programmatically - loan manufacturing, loan pipeline, borrower pairs, contacts, eFolder documents and attachments, milestones, conditions, users, and event webhooks.


    Access is partner/tenant-gated: every call is authenticated with an OAuth 2.0 bearer token issued for a specific Encompass instance. Credentials (Client ID and secret / API key) are provisioned in the developer portal and distributed by an Encompass user with the super administrator persona. The data and features a token can reach are governed by the caller''s assigned Encompass persona.


    Versioning is path-based; v3 is current and v1/v2 are deprecated. This document grounds endpoints in the public API reference at developer.icemortgagetechnology.com. Endpoints tagged x-endpoint-status "confirmed" are read directly from the public reference; those tagged "modeled" follow Encompass''s documented, consistent path conventions but were authored behind the login-gated request builder and should be verified against the live reference before use.'
  version: '2026-07-04'
  contact:
    name: ICE Mortgage Technology - Encompass Developer Connect
    url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
  x-lineage: Encompass is a product of ICE Mortgage Technology, formerly Ellie Mae, acquired by Intercontinental Exchange (ICE) in 2020. The API host api.elliemae.com reflects the Ellie Mae lineage.
servers:
- url: https://api.elliemae.com
  description: Encompass Developer Connect production API host (Ellie Mae lineage)
security:
- oAuth2: []
- bearerAuth: []
tags:
- name: Loan Management
  description: Create, read, update, and delete Encompass loan files and loan data.
paths:
  /encompass/v3/loans:
    post:
      operationId: createLoan
      tags:
      - Loan Management
      summary: Create a loan
      description: Create a new Encompass loan file, optionally from a loan template set.
      x-endpoint-status: confirmed
      responses:
        '201':
          description: The created loan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v3/loans/{loanId}:
    get:
      operationId: getLoan
      tags:
      - Loan Management
      summary: Retrieve a loan
      description: Retrieve a loan file and its data by loan GUID.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/LoanId'
      - name: entities
        in: query
        description: Comma-separated list of loan entities to include in the response.
        schema:
          type: string
      responses:
        '200':
          description: The requested loan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Loan'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateLoan
      tags:
      - Loan Management
      summary: Update a loan
      description: Write values to loan data fields. Supports append/replace of collections.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '200':
          description: The updated loan.
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteLoan
      tags:
      - Loan Management
      summary: Delete a loan
      description: Delete a loan file.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '204':
          description: Loan deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v3/loans/{loanId}/ucdFields:
    get:
      operationId: getLoanUcdFields
      tags:
      - Loan Management
      summary: Retrieve UCD field definitions for a loan
      description: Retrieve Uniform Closing Dataset (UCD) field definitions for a loan.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '200':
          description: UCD field definitions.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v1/loans/{loanId}/moveToFolder:
    patch:
      operationId: moveLoanToFolder
      tags:
      - Loan Management
      summary: Move a loan to a folder
      description: Move a loan file into a different loan folder.
      x-endpoint-status: confirmed
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '200':
          description: Loan moved.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Loan:
      type: object
      description: An Encompass loan file. The full data model is large and persona-scoped.
      properties:
        id:
          type: string
          description: The loan GUID.
        loanNumber:
          type: string
        loanFolder:
          type: string
        applications:
          type: array
          items:
            type: object
  parameters:
    LoanId:
      name: loanId
      in: path
      required: true
      description: The loan GUID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 bearer token.
    NotFound:
      description: The requested resource was not found.
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials / authorization code issued per Encompass instance.
      flows:
        clientCredentials:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
