openapi: 3.2.0
info:
  title: Encompass Developer Connect Borrower Pairs API
  description: Encompass Developer Connect is the ICE Mortgage Technology (formerly Ellie Mae) REST API platform for the Encompass loan origination system (LOS).
  version: '2026-07-04'
  contact:
    name: ICE Mortgage Technology - Encompass Developer Connect
    url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
  x-lineage: Encompass is a product of ICE Mortgage Technology, formerly Ellie Mae, acquired by Intercontinental Exchange (ICE) in 2020. The API host api.elliemae.com reflects the Ellie Mae lineage.
servers:
- url: https://api.elliemae.com
  description: Encompass Developer Connect production API host (Ellie Mae lineage)
security:
- oAuth2: []
- bearerAuth: []
tags:
- name: Borrower Pairs
  description: Borrower/co-borrower application entities within a loan (modeled).
paths:
  /encompass/v3/loans/{loanId}/applications:
    get:
      operationId: listBorrowerPairs
      tags:
      - Borrower Pairs
      summary: List borrower pairs (applications)
      description: List the borrower/co-borrower application entities (borrower pairs) on a loan.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '200':
          description: A list of borrower pairs.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBorrowerPair
      tags:
      - Borrower Pairs
      summary: Create a borrower pair
      description: Add a new borrower pair (application) to a loan.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '201':
          description: Borrower pair created.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v3/loans/{loanId}/applications/{applicationId}:
    get:
      operationId: getBorrowerPair
      tags:
      - Borrower Pairs
      summary: Retrieve a borrower pair
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      - $ref: '#/components/parameters/ApplicationId'
      responses:
        '200':
          description: The borrower pair.
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteBorrowerPair
      tags:
      - Borrower Pairs
      summary: Delete a borrower pair
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      - $ref: '#/components/parameters/ApplicationId'
      responses:
        '204':
          description: Borrower pair deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: The borrower pair (application) identifier.
      schema:
        type: string
    LoanId:
      name: loanId
      in: path
      required: true
      description: The loan GUID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 bearer token.
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials / authorization code issued per Encompass instance.
      flows:
        clientCredentials:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
