openapi: 3.2.0
info:
  title: Encompass Developer Connect Conditions API
  description: Encompass Developer Connect is the ICE Mortgage Technology (formerly Ellie Mae) REST API platform for the Encompass loan origination system (LOS).
  version: '2026-07-04'
  contact:
    name: ICE Mortgage Technology - Encompass Developer Connect
    url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
  x-lineage: Encompass is a product of ICE Mortgage Technology, formerly Ellie Mae, acquired by Intercontinental Exchange (ICE) in 2020. The API host api.elliemae.com reflects the Ellie Mae lineage.
servers:
- url: https://api.elliemae.com
  description: Encompass Developer Connect production API host (Ellie Mae lineage)
security:
- oAuth2: []
- bearerAuth: []
tags:
- name: Conditions
  description: Underwriting, preliminary, and post-closing conditions (modeled).
paths:
  /encompass/v1/loans/{loanId}/conditions/underwriting:
    get:
      operationId: listUnderwritingConditions
      tags:
      - Conditions
      summary: List underwriting conditions
      description: List the underwriting conditions tracked on a loan.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '200':
          description: A list of underwriting conditions.
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUnderwritingCondition
      tags:
      - Conditions
      summary: Create an underwriting condition
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      responses:
        '201':
          description: Condition created.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v1/loans/{loanId}/conditions/underwriting/{conditionId}:
    patch:
      operationId: updateUnderwritingCondition
      tags:
      - Conditions
      summary: Update an underwriting condition
      description: Update or clear an underwriting condition.
      x-endpoint-status: modeled
      parameters:
      - $ref: '#/components/parameters/LoanId'
      - $ref: '#/components/parameters/ConditionId'
      responses:
        '200':
          description: The updated condition.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    ConditionId:
      name: conditionId
      in: path
      required: true
      description: The condition identifier.
      schema:
        type: string
    LoanId:
      name: loanId
      in: path
      required: true
      description: The loan GUID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 bearer token.
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials / authorization code issued per Encompass instance.
      flows:
        clientCredentials:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
