openapi: 3.2.0
info:
  title: Encompass Developer Connect Loan Pipeline API
  description: Encompass Developer Connect is the ICE Mortgage Technology (formerly Ellie Mae) REST API platform for the Encompass loan origination system (LOS).
  version: '2026-07-04'
  contact:
    name: ICE Mortgage Technology - Encompass Developer Connect
    url: https://developer.icemortgagetechnology.com/developer-connect/docs/welcome
  x-lineage: Encompass is a product of ICE Mortgage Technology, formerly Ellie Mae, acquired by Intercontinental Exchange (ICE) in 2020. The API host api.elliemae.com reflects the Ellie Mae lineage.
servers:
- url: https://api.elliemae.com
  description: Encompass Developer Connect production API host (Ellie Mae lineage)
security:
- oAuth2: []
- bearerAuth: []
tags:
- name: Loan Pipeline
  description: Search loans and loan fields across the pipeline with cursor pagination.
paths:
  /encompass/v3/loanPipeline:
    post:
      operationId: viewPipeline
      tags:
      - Loan Pipeline
      summary: Query the loan pipeline
      description: Search for loans and loan fields on the pipeline using canonical field names and filter criteria (CanonicalName, Value, MatchType, Terms, Operator, Precision, Include). Supports cursor-based pagination via the Cursor and Start/Limit query parameters.
      x-endpoint-status: confirmed
      parameters:
      - name: cursor
        in: query
        schema:
          type: string
      - name: start
        in: query
        schema:
          type: integer
      - name: limit
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Matching pipeline rows.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v3/loanPipeline/cursor:
    post:
      operationId: createPipelineCursor
      tags:
      - Loan Pipeline
      summary: Create a pipeline cursor
      description: Create a cursor for a pipeline report to page through large result sets.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: Cursor created.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /encompass/v3/loanPipeline/canonicalNames:
    get:
      operationId: getPipelineCanonicalNames
      tags:
      - Loan Pipeline
      summary: Get canonical field names
      description: Retrieve the list of canonical (queryable) field names for the pipeline.
      x-endpoint-status: confirmed
      responses:
        '200':
          description: List of canonical names.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 bearer token.
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials / authorization code issued per Encompass instance.
      flows:
        clientCredentials:
          tokenUrl: https://api.elliemae.com/oauth2/v1/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
